* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.favorites-container {
  align-items: center;
  background-color: var(--greyish-green);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

.favorites-container div {
  margin: 15px 0 35px;
  row-gap: 50px;
}

@media screen and ( max-width : 700px ) {

  .favorites-container div {
    row-gap: 0;
  }

}
