.profile-container {
  background-color: var(--greyish-green);
  color: white;
  display: flex;
  gap: 15px;
  justify-content: center;
  min-height: 85vh;
}

.profile-card h3 {
  margin-top: 15px;
  text-align: center;
}

.profile-container a {
  align-self: center;
  background-color: var(--light-green);
  border-radius: 2px;
  color: white;
  margin: 15px 0;
  padding: 7px;
  text-decoration: none;
}

.profile-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  overflow: hidden;
}

.profile-container img {
  align-self: center;
  border-radius: 50%;
  margin-top: 15px;
  width: 200px;
}


.profile-card p {
  margin-bottom: 15px;
}
