* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-container {
  align-items: center;
  background-color: var(--greyish-green);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.search-container form {
  display: flex;
  margin: 50px;
}

.search-input {
  border-radius: 2px;
  font-family: Poppins , BlinkMacSystemFont , sans-serif;
  font-size: 1.2rem;
  margin-right: 5px;
  padding: 7px;
  text-align: center;
  width: 500px;
}

.results-container {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  row-gap: 30px;
}

.album-container {
  column-gap: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  width: 90%;
}

.album-container a {
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 200px;
}

.results-container h2 {
  text-align: center;
}

.album-container a:hover {
  box-shadow: var(--light-green) 3px 3px 5px;
}

.album-card {
  align-self: flex-end;
  color: var(--dark-green);
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.album-card div {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: 10px 20px;
}

.album-card img {
  border-radius: 14px 14px 0 0;
}

@media screen and ( max-width : 700px ) {

  form {
    flex-direction: column;
    gap: 8px;
  }

  .search-input {
    margin-right: 0;
    width: 100%;
  }
}
