:root {

  --primary-font: poppins , 'Segoe UI' , 'Roboto' , 'Oxygen' , 'Ubuntu' , sans-serif;

  --dark-green: #023031;

  --light-green: #2fc18c;

  --greyish-green:  rgb(39, 47, 39);

  --light-grey: #f0f2f5;

  --medium-grey: rgb(50, 50, 50);

  --dark-grey: rgb(25, 25, 25);

}

body {
  margin: 0;
  font-family: Poppins, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
